<div>
  <div>
    <h1>Blog</h1>
  </div>
  <div>
    <p>Please login if you have an account with us or signup here</p>
    <br />
    <div>
      <%= link_to 'Login', login_path %>
    </div>
    <div>
      <%= link_to 'Sign Up', signup_path %> 
    </div>
  </div>
</div> 