<%= render partial: 'layouts/navbar' %>
<div>
  <h1>Posts</h1>
</div> 

<div>
  <%= form_tag("/posts", method: "get", :class => "form") do %>
    <p>Search by author:  
    <%= select_tag "user", options_from_collection_for_select(@users, "id", "name"), {include_blank: true} %></p><br />
    <button type=submit_tag>Search</button>
  <% end %>

  <br /><br /><br />

  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
</div>